
@model dynamic

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <div class=" row" style="margin-top:50px">
        <div class="col">
            <p>
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Add new product
                </button>
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseEdit" aria-expanded="false" aria-controls="collapseEdit">
                    Edit product
                </button>
            </p>

            @*Create new product*@

            <div class="collapse" id="collapseExample">
                <div class="card card-body">

                    <form action="../Admin/AddProduct" method="post">
                        <div class="form-group">
                            <label for="txtName">Product name:</label>
                            <input name="name" type="text" class="form-control" id="txtName" placeholder="New Amazing Painting" required>
                        </div>
                        <div class="form-group">
                            <label for="numPrice">Price:</label>
                            <input name="price" type="number" class="form-control" id="numPrice" step="any" required>
                        </div>
                        <div class="form-group">
                            <label for="ddlAuthor">Author:</label>
                            <select name="author" class="form-control" id="ddlAuthor">
                                @foreach (var a in @Model.Authors)
                                {
                                    <option value="@a.Id">@a.FullName</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ddlCategory">Category:</label>
                            <select name="category" class="form-control" id="ddlAuthor">
                                <option value="1">Landscape</option>
                                <option value="2">Marine</option>
                                <option value="3">Digital Art</option>
                                <option value="4">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="txtDescrip">Description:</label>
                            <textarea name="descrip" class="form-control" id="txtDescrip" rows="3" placeholder="Few words about this product..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="upPicture">Product Picture:</label>
                            <input name="pic " type="file" accept="image/png, image/gif, image/jpeg" value="Upload" class="form-control-file" id="upPicture">
                        </div>

                        <button class="btn" type="submit">ADD</button>
                    </form>
                </div>
            </div>

            @*Edit existing product*@

            <div class="collapse" id="collapseEdit">
                <div class="card card-body">

                    <form action="../Admin/Edit" method="post">

                        <div class="form-group">
                            <label for="ddlAuthor">Product name:</label>
                            <select name="id" class="form-control" id="ddlProduct" onselect=""  required>
                                @foreach (var product in @Model.Products)
                                {
                                    <option value="@product.ID">(id: @product.ID) @product.Name</option>
                                }
                            </select>
                            <br />
                            <div class="form-group">
                                <label for="txtName">Product name:</label>
                                <input name="name" type="text" class="form-control" id="txtName" placeholder="" required>
                            </div>
                            <div class="form-group">
                                <label for="numPrice">Price:</label>
                                <input name="price" type="number" class="form-control" id="numPrice" required>
                            </div>
                            <div class="form-group">
                                <label for="ddlAuthor">Author:</label>
                                <select name="author" class="form-control" id="ddlAuthor">
                                    @foreach (var a in @Model.Authors)
                                    {
                                        <option value="@a.Id">@a.FullName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="ddlCategory">Category:</label>
                                <select name="category" class="form-control" id="ddlAuthor">
                                    <option value="1">Landscape</option>
                                    <option value="2">Marine</option>
                                    <option value="3">Digital Art</option>
                                    <option value="4">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtDescrip">Description:</label>
                                <textarea name="descrip" class="form-control" id="txtDescrip" rows="3" placeholder="Few words about this product..."></textarea>
                            </div>
                            <button class="btn" type="submit">EDIT</button>
                        </div>
                    </form>
                </div>
            </div>

            @*List of products*@

            <h4 style="margin:10px">Products in shop</h4>
            <table class="table table-hover" style="width:600px">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th colspan="2">Name</th>
                        <th scope="col">Price</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in @Model.Products)
                    {

                    <tr>
                        <td>@product.ID</td>
                        @using (Html.BeginForm("ProductDetails", "Shop", FormMethod.Post))
                        {
                            <td colspan="2"><button style="background:none; border: none; padding: 0;" type="submit" name="id" value="@product.ID">@product.Name</button></td>
                            <td colspan="1">@product.Price.ToString("N") &euro;</td>
                        }
                            @using (Html.BeginForm("Delete", "Admin", FormMethod.Post))
                            {
                                <td><button type="submit" name="id" value="@product.ID" onclick="return confirm('Are you sure you want to delete this product?')" class="btn btn-sm" style="color:white; margin:0px;"><i class="fas fa-trash-alt"></i></button></td>
                            }

                        </tr>

                    }
                </tbody>
            </table>
        </div>
        <div class="col">



            <h4>Current orders</h4>
            <table>
            </table>

        </div>
    </div>


</body>
</html>
