@model ProductModel


<!DOCTYPE html>
<style>
    .shop-item {
        margin: 30px;
    }

    .shop-item-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
        margin-bottom: 15px;
    }

    .shop-item-image {
        height: 250px;
    }

    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .shop-item-price {
        flex-grow: 1;
        color: #333;
    }

    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
</style>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<script>

    let products = [
        {
            ID: '@Model.ID',


            name: '@Model.Name',
            tag: 'test',
            price: '@Model.Price',
            inBasket:0
        }
    ];

    /*Add function for button*/
    $(document).ready(function () {
        let baskets = document.querySelectorAll('.btn-add');
        baskets[0]
        baskets[1]

        for (let i = 0; i < baskets.length; i++) {
            baskets[i].addEventListener('click', () => {
                basketNumbers(products[i]);
            })
        }
        function onLoadBasketNumbers() {
            productsNumbers = localStorage.getItem('basketNumbers');

            if (productsNumbers) {
                document.querySelector('.fa-shopping-basket-container span').textContent = productsNumbers;
            }
        }
        function basketNumbers(products) {
          
            productsNumbers = localStorage.getItem('basketNumbers');

            productsNumbers = parseInt(productsNumbers);

            if (productsNumbers) {
                localStorage.setItem('basketNumbers', productsNumbers + 1);
                document.querySelector('.fa-shopping-basket-container span').textContent = productsNumbers + 1;
                @*@ViewData["BasketData"] = productsNumbers + 1 ;*@
            }
            else {
                localStorage.setItem('basketNumbers', 1);
                document.querySelector('.fa-shopping-basket-container span').textContent = 1;
            }

            setItems(products);
        }
        function setItems(products) {
            let basketItems = localStorage.getItem('productsinBasket');
            basketItems = JSON.parse(basketItems);
            console.log("My basketItems are", basketItems);

            if (basketItems != null) {

                if (basketItems[products.tag] == undefined) {
                    basketItems = {
                        ...basketItems,
                        [products.tag]: products
                    }
                }
                basketItems[products.tag].inBasket += 1;
            }
            else {
                products.inBasket = 1;
                basketItems = {
                    [products.tag]: products
                }
            }
            localStorage.setItem("productsInBasket", JSON.stringify(basketItems));
        }


        function displayBasket() {
            let basketItems = localStorage.getItem("productsInBasket");
            basketItems = JSON.parse(basketItems);

            let productContainer = document.querySelector("productsInBasket");
            ("container");

            console.log(basketItems);
            if (basketItems && productContainer) {
                productContainer.innerHTML = '';
                Object.values(basketItems).map(item => {
                    productContainer.innerHTML += `
                     <div class="products">
                     <img src="./pic/${item.tag}.jpg"
                     <span>${item.name}M/span>
                    `< div >
                })

            }
        }
        onLoadBasketNumbers();
        displayBasket();
    });
     /*Remove function for button*/
    $(document).ready(function () {
        let baskets = document.querySelectorAll('.btn-remove');
        baskets[0]
        baskets[1]

        for (let i = 0; i < baskets.length; i++) {
            baskets[i].addEventListener('click', () => {
                basketNumbers();
            })
        }
        function onLoadBasketNumbers() {
            productsNumbers = localStorage.getItem('basketNumbers');

            if (productsNumbers) {
                document.querySelector('.fa-shopping-basket-container span').textContent = productsNumbers;
            }
        }
        function basketNumbers() {

            productsNumbers = localStorage.getItem('basketNumbers');
            productsNumbers = parseInt(productsNumbers);

            if (productsNumbers) {
                localStorage.setItem('basketNumbers', productsNumbers -1);
                document.querySelector('.fa-shopping-basket-container span').textContent = productsNumbers - 1;
                @*@ViewData["BasketData"] = productsNumbers - 1;*@
            }

        }
        onLoadBasketNumbers();
    });
</script>

<body>
    <div class="small_container single-product">
        <div class="row" id="item1">
            <div class="col-2">
                <img src="~/pic/@Model.Picture" width="500" alt="@Model.Name" />
            </div>
            <div class="col-2">
                <h1>@Model.Name</h1>
                <h4>@Model.Price.ToString("N") &euro;</h4>
                @*<input type="number" value="1" />*@
                <button class="btn btn-add" type="button">Add to Basket</button>
                <button class="btn btn-remove" type="button">Remove</button>
                <br />
                @*<p>by @Model.Author.FullName</p>*@
                <p><i>@Model.Description</i></p>
            </div>
        </div>
        <a class="btn btn-back btn-lg" asp-controller="Shop" asp-action="ShopFront" role="button" align="right">Back</a>

    </div>
</body>


