@model ProductModel


<!DOCTYPE html>
<style>
    .shop-item {
        margin: 30px;
    }

    .shop-item-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
        margin-bottom: 15px;
    }

    .shop-item-image {
        height: 250px;
    }

    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .shop-item-price {
        flex-grow: 1;
        color: #333;
    }

    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
    }

    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    .error-message{
        color:gray;
        font-size:14px;
        display:none;
    }
    .product-price::after {
        content: '€'
    }
</style>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<script>

</script>

<body>
    <div class="small_container single-product">
        <div class="row" id="item1">
            <div class="col-2">
                <img class="product-image" src="~/pic/@Model.Picture" width="500" alt="@Model.Name" />
            </div>
            <div class="col-2">
                <h1 class="product-name" data-name="@Model.Name">@Model.Name</h1>
                <h4 class="product-price">@Model.Price.ToString("N")</h4>
                <p class="error-message">Hey, you can buy only one piece of artwork</p>
                <button class="btn btn-add" type="button">Add to Basket</button>
                <button class="btn btn-remove" type="button">Remove</button>
                <br />
                @*<p>by @Model.Author.FullName</p>*@
                <p><i>@Model.Description</i></p>
            </div>
        </div>
        <a class="btn btn-back btn-lg" asp-controller="Shop" asp-action="ShopFront" role="button" align="right">Back</a>
        

    </div>
</body>


