@model List<ProductModel>

<!DOCTYPE html>
<head>
    @*<link rel="stylesheet" type="text/css" href="~/css/style.css" />*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="category_container">
        <p class="category_item" id="all">ALL</p>
        <p class="category_item" id="1">LANDSCAPE</p>
        <p class="category_item" id="2">MARINE</p>
        <p class="category_item" id="3">DIGITAL ART</p>
        <p class="category_item" id="4">OTHER</p>
    </div>



    <div class="small_container">
        <h2 class="title">Paintings</h2>
       
        @foreach (var product in @Model)
        {

            @using (Html.BeginForm("ProductDetails", "Shop", FormMethod.Post))
            {
                <div class="art_item @product.Category col-4 ">
                    <button type="submit" style="border:0px" name="id" value="@product.ID"><img src="~/pic/@product.Picture" alt="@product.Name" /></button>
                    <h5> @product.Name </h5>
                    <p> @product.Price.ToString("N") &euro;</p>
                </div>
            }
        }

    </div>
</body>



@*<input type="image" src="~/pic/@product.Picture" alt="Submit">*@
